/* 1️⃣ Načtení fontů (FontShare) */
@import url("https://api.fontshare.com/v2/css?f[]=alpino@400,700,900&f[]=general-sans@300,400,500,600,700&f[]=plus-jakarta-sans@400,500,700&display=swap");
@import "tailwindcss";


/* 3️⃣ Vlastní proměnné pro fonty */
:root {
  --background: #f7f1eb;
  --foreground: #171717;
}


/* 5️⃣ Výchozí nastavení */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "General Sans", sans-serif;
}

/* Specifické styly pro jednotlivé fonty */
.alpino {
  font-family: "Alpino", sans-serif;
}

.general-sans {
  font-family: "General Sans", sans-serif;
}

.plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
}
